body{
    margin: 0;
}
#pantalla-inicio{
    width: 100vw;
    height: 100vh;
    background: linear-gradient( #EC8277, #F12711);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logo{
    width: 226px;
    height: 66px;
    margin-bottom: 5rem;
    margin-top: 9rem;
}
.boton{
    border: 0.5px solid white;
    border-radius: 50px;
    width: 214px;
    height: 56px;
}
#boton-registro{
    background-color:white;
    color:#F12711;
}
#boton-registro:hover{
    background-color:#F12711;
    color: white;
}
#boton-login{
    margin-top: 48px;
    background-color: transparent;
    color: white;
}
#boton-login:hover{
    background-color: white;
    color: #F12711;
}