@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
body {
  margin: 0;
  font-family: "Alata", sans-serif;
}
#pantalla-inicio {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#ec8277, #f12711);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#encabezado {
  background-color: #f12711;
  height: 8.156rem;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  color: white;
}
#atras {
  margin-top: 3.125rem;
  margin-left: 1.25rem;
}
.parrafos {
  text-align: center;
}
#mensaje-registro {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}
#formulario-registro {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.caja-texto {
  height: 2.25rem;
  border: 1px solid #f12711;
  color: #f17264;
  border-radius: 50px;
  text-align: center;
}
.caja-texto::placeholder {
  color: #f12711;
}
.caja {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 309px;
}
#numero-cel {
  width: 19.313rem;
  margin-top: 3.75rem;
  margin-bottom: 10rem;
}
#check {
  font-size: small;
  color: #f17264;
  margin-bottom: 1.875rem;
}
#logo {
  width: 226px;
  height: 66px;
  margin-bottom: 5rem;
  margin-top: 9rem;
}
.boton {
  border: 0.5px solid white;
  border-radius: 50px;
  width: 214px;
  height: 56px;
  cursor: pointer;
}
.boton-Rojo {
  background-color: #f12711;
  color: white;
}
.boton-Rojo:hover {
  background-color: white;
  border: 1px solid #f12711;
  color: #f12711;
}
.boton-blanco {
  background-color: white;
  color: #f12711;
}
.boton-blanco:hover {
  background-color: #f12711;
  color: white;
}
#finalizar {
  margin-top: 80px;
}
#boton-login {
  margin-top: 48px;
  background-color: transparent;
  color: white;
}
#boton-login:hover {
  background-color: white;
  color: #f12711;
}

.visible {
  display: none;
}
.texto {
  width: 19.313rem;
  margin-bottom: 1.875rem;
  border-radius: 50px;
  text-align: center;
  height: 2.25rem;
}
#formulario-registro-2 {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#header {
  width: 100vw;
  height: 190px;
  background-color: #f12711;
}
#plogo {
  padding: 0;
}
#logo1 {
  width: 131px;
  height: 38px;
  margin-top: 40px;
}
#saludo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#titulo1 {
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #f12711;
}
#categorias {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.categorias {
  background-color: #f12711;
  width: 303px;
  height: 110px;
  border-radius: 30px;
  margin: 10px;
  color: white;
}
#barra-nav {
  margin: auto;
  margin-top: 20px;
  width: 300px;
  height: 63px;
  border: 1px solid #f12711;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: #f12711;
}
i {
  margin: 0;
}
.brand {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
}
.brand:hover {
  background-color: transparent;
  color: #f12711;
  border: 1px solid #f12711;
}
.buscar-nav {
  border: 2px solid #fff;
  background-color: transparent;
  color: white;
}
.buscar-nav::placeholder {
  color: #fff;
}
#encabezadoEmpresas {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f12711;
}

.card-title {
  color: #f12711;
}

#productosHeader {
  margin-top: 30px;
  width: 100vw;
  height: 25vh;
}
.imgbanner {
  width: 360px;
  height: 119.8px;
}
.rounded-circle {
  width: 90px;
  margin-top: 90px;
  margin-left: 135px;
}
.tituloEmpresa{
  margin-top: 70px;
  margin-bottom: 5px;
  color: #f12711;
}
.descripcionEmpresa{
  color: #f17264;
}
.ms-4{
  margin-left: 1.875rem !important;
}
.infoEmpresas{
  color: #f17264;
  border-bottom: 1px solid #f17264;
  padding-bottom: 10px;
  margin-right: 1.875rem
}
#menuEmpresas{
  margin-top: 110px;
  color: #f12711;
}
