@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
body{
    margin: 0;
    font-family: 'Alata', sans-serif;
}
#pantalla-inicio{
    width: 100vw;
    height: 100vh;
    background: linear-gradient( #EC8277, #F12711);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#encabezado{
    background-color:#F12711;
    height: 8.156rem;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    color: white;
    
}
i{
    margin-top: 3.125rem;
    margin-left: 1.25rem;
}
.parrafos{
    text-align: center;
}
#mensaje-registro{
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}
#formulario-registro{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.caja-texto{
    height: 2.25rem;
    border: 1px solid #f12711;
    border-radius: 50px;
    text-align: center;
    color: #f17264;
}
#numero-cel{
    width: 19.313rem;
    margin-top: 3.75rem;
    margin-bottom: 10rem;
}
#check{
    font-size:small;
    color: #f17264;
    margin-bottom: 1.875rem;
}
#logo{
    width: 226px;
    height: 66px;
    margin-bottom: 5rem;
    margin-top: 9rem;
}
.boton{
    border: 0.5px solid white;
    border-radius: 50px;
    width: 214px;
    height: 56px;
    cursor: pointer;
}
.boton-Rojo{
    background-color:#F12711;
    color: white;
}
.boton-Rojo:hover{
    background-color: white;
    border: 1px solid #F12711;
    color: #F12711;
}
.boton-blanco{
    background-color:white;
    color:#F12711;
}
.boton-blanco:hover{
    background-color:#F12711;
    color: white;
}
#boton-login{
    margin-top: 48px;
    background-color: transparent;
    color: white;
}
#boton-login:hover{
    background-color: white;
    color: #F12711;
}

.visible{
    display: none;
}

#nombreCliente{
    width: 19.313rem;
    margin-bottom: 1.875rem;
}
#apellidoCliente{
    width: 19.313rem; 
    margin-bottom: 1.875rem;
}
#correoCliente{
    width: 19.313rem; 
    margin-bottom: 6.25rem;
}
#formulario-registro-2{
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
